//Main colors
$white       : #fff;
$black       : #000;
$red-monster : #de3f53;
$dark-blue   : #1c2340;
$light-blue  : #2a3353;
$login-grey  : #F8F9FA;
$dark-grey   : #cbd3da;
$acid-green  : #91FF8F;
