footer{
  bottom: 0;
  position: fixed;
  font-size: 0.8em;
  width: inherit;
  
  .footer--copyright,
  .footer--version {
    margin-bottom: 7px;
  }
  .footer--copyright {
    margin-left: 8px;
    float: left;
  }
  .footer--version {
    margin-right: 8px;
    float: right;
  }
}
