.settingsIcon {
    position: absolute;
    right: 25px;
    bottom: -5px;
    cursor: pointer;
}
.logoffIcon{
    
    cursor: pointer;
}
.header {
    border-top: 0;
    position: relative;
    margin-top: -8px;
    height: 80px;
    padding: 5px;
    color: $white;
    background-color: $red-monster;
    a{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}
.logo {
    margin-left: 8px;
}
#heading {
    height: 20px;
    margin-top: 10px;
    color: $white;
}
