.logo {
    position: absolute;
    bottom: -10px;
    left: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.login-view{
    height: 425px;
    width: 434px;
    position: fixed;
    top:0;
    left:0;
    margin-left: 1px;
    margin-top: 1px;
}
.login-logo{
    margin-top: 10%;
    margin-left: 92px;
    margin-bottom: -13px;
}
.login-container{
    background-color: $login-grey;
    height: 200px;
    width: 250px;
    margin: 0 auto ;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.21);
}
.tabs-component{
  position: relative;
  a{
    font-size: 1.5em;
    color: #999;
    display: block;
    text-align: center;
    line-height: 50px;
  }
  a:hover{
    cursor: pointer;
    color: #999;
  }
  .active{
    a{
      color: $red-monster;
    }

  }
  .signin-tab{
    display: inline-block;
    width: 125px;
    height: 50px;
    border-bottom: 2px solid $red-monster;
  }
  .register-tab{
    float: right;
    width: 125px;
    height: 50px;
    border-bottom: 2px solid #999;
  }
}

.login-component{
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: $black;
  h1{
    text-align: center;
  }
  form{
    margin: auto;
    outline: 1px solid green;
    width: 80%;
    text-align: center;
  }
}
.login-btn-cont{
    position: absolute;
    bottom: 5px;
    margin-left: 30px;
}
.login-google-btn{
    width: 191px;
    height: 46px;
    background-size: 191px 46px;
    background-image: url("/assets/images/google/btn_google_signin_light_normal_web@2x.png");
}
.login-google-btn:hover{
    background-image: url("/assets/images/google/btn_google_signin_light_focus_web@2x.png");
}
.login-google-btn:active{
    background-image: url("/assets/images/google/btn_google_signin_light_pressed_web@2x.png");
}
.login-copy{
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}
.login-monster{
    position: absolute;
    height: 250px;
    width: 90px;
    bottom: 50px;
}
