.total-container{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $dark-blue;
}
.total-text{
  width: 196px;
  display: inline-block;
  text-align: right;
  font-weight: 300;
}
.total-visits{
  width: 109px;
  display: inline-block;
  text-align: center;
  font-weight: 300;
}
.total-time{
  width: 71px;
  display: inline-block;
  text-align: center;
  font-weight: 300;
}
