@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import '_colors';
@import '_angular-conf';
@import '_sad-monster';
@import '_login';
@import '_footer';
@import '_settings';
@import '_snow';

html {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    background-color: #38416C;
    background: linear-gradient(#38416C, #38617F);
    border: 0;
}

a {
    color: $white;
    text-decoration: none;
}

a:active {
    color: $white;
}

a:hover {
    color: $white;
}
::-webkit-scrollbar {
    display: none;
}
body {
    overflow: hidden;
    color: $white;
    margin-top: 100px;
    width: 420px;
    height:520px;
    font-family: "Roboto Condensed", Arial, sans-serif;
    margin-left: 0;
    margin-right: 0;
    padding-left: 8px;
    padding-right: 8px;
}

th {
    font-weight: normal;
    text-align: left;
}

tr .centered {
    text-align: center;
}
tbody{
  height: 350px;
  background-color: $dark-blue;
}
tbody tr {
    background-color: $light-blue;
    border-bottom: 2px solid $dark-blue;
    transition: 0.5s;

}
tbody tr:hover{
    background-color: $dark-blue;
}
tbody tr:hover .removeArrow {
    background-color: $dark-blue;
}
table {
    width: 100%;
}

img {
    margin-top: 3px;
}

#websiteList {
    position: fixed;
    left: 0;
    right: 0;

    font-family: "Roboto Condensed", Arial, sans-serif;
}


.settingsIcon {
    position: absolute;
    right: 25px;
    bottom: -5px;
    cursor: pointer;
}
.logoffIcon{
    position: absolute;
    right: 5px;
    bottom: -2px;
    cursor: pointer;
}
.header {
    border-top: 0;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    color: $white;
    background-color: $red-monster;
}

#heading {

    height: 20px;
    margin-top: 10px;
    color: $white;
}
.timeContainer{
    display: block;
}
.nameLabel{
    padding-bottom: 2px;
    border-collapse: collapse;
    border-bottom:1px solid #8EA6FE;
}

.nameLabel .circle {
    margin-left: 15px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 1em;
    background-color: #8EA6FE;
    box-shadow: 0px 0px 8px 2px rgba(142, 166, 254, .75);
}

.sortIcon{
    bottom: 0;
    position: absolute;
    width:15px;
    height: 15px;
}

.visitsLabel div{
    display: inline-block;
}
.visitsLabel{
    padding-bottom: 2px;
    border-collapse: collapse;
    border-bottom:1px solid #22d8ff;
    position: relative;
    padding-right: 5px;
}

.visitsLabel .circle {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 1em;
    background-color: #22d8ff;
    box-shadow: 0px 0px 8px 2px rgba(34, 216, 255, .75);
}


.timeLabel{
    text-align: left;
    padding-bottom: 2px;
    border-collapse: collapse;
    border-bottom:1px solid $acid-green;
}

.timeLabel .circle {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 1em;
    background-color: $acid-green;
    box-shadow: 0px 0px 8px 2px rgba(145, 255, 143, .75);
}

.siteName {
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    width:130px;
}

.inline{
    display: inline-block;
}
.removetd{
    width: 60px;
}
.total-container{
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
  background-color: $dark-blue;
}
.total-text{
  width: 50px;
  display: inline-block;
  font-weight: 300;
}
.total-visits{
  width: 70px;
  display: inline-block;
  text-align: center;
  font-weight: 300;
}
.total-time{
  width: 61px;
  display: inline-block;
  text-align: center;
  margin-right: 60px;
  font-weight: 300;
}
.binBG{
    width: 30px;
    height: 30px;
    position: relative;
    float: right;
    background-color: $red-monster;
    cursor: pointer;
}
.removeArrow{
    height: 30px;
    width: 30px;
    background-color: $light-blue;
    position: relative;
    left:30px;
    z-index:0;
    transition: 0.5s;
}
.arrow{
    border-left: 1px solid $dark-blue;
    padding-left: 5px;
    height: 30px;
    width: 10px;
    position: relative;
    float: right;
    line-height: 30px;
    font-weight: bold;
}
.arrow:hover{
    background-color: $light-blue;
    cursor: pointer;
}
.active{
    left:0;
}
.notActive{
     left:30px;
}

/*WEEK-START END*/
.week-menu-container{
    position: absolute;
    left: 20px;
    top: 365px;
    width: 269px;
    padding-left: 60px;
}
.days-container{
     display: inline;
}
.week-menu-container p {
    margin-bottom: 5px;
    text-align: center;
}
.day-of-the-week{
    height: inherit;
    display: inline-block;
    cursor: pointer;
}
.dayCircle{
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
	  width: 30px;
    height: 30px;
    border: 1px white solid;
    text-align: center;
    line-height: 30px;
    background-color: $light-blue;
}
.activeDay{
    border: 1px $red-monster solid;
    box-shadow: 0px 0px 8px 2px rgba(222, 63, 83, .75);
}
.dayCircle2{
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
	  width: 30px;
    height: 30px;
    border: 1px white solid;
    text-align: center;
    line-height: 30px;
    border: 1px $red-monster solid;
    box-shadow: 0px 0px 8px 2px rgba(222, 63, 83, .75);
}
.day-name{
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

.dayCircle:hover{
    border: 1px $red-monster solid;
    box-shadow: 0px 0px 8px 2px rgba(222, 63, 83, .75);
}

.dayCircleToday{
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px white solid;
  text-align: center;
  line-height: 30px;
  background-color: $light-blue;
  border: 1px $acid-green solid;
  box-shadow: 0px 0px 8px 2px rgba(145, 255, 143, .75);
}
.past-date{
  text-align: center;
}
/*WEEK-MENU END*/
