@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
@import '_colors';
@import '_monster';
@import '_footer';
@import '_snow';
/* Angular cloak */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

/* Angular pointer */
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

html {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
    background-color: #38416C;
    background: linear-gradient(#38416C, #38617F);
    border: 0;
}

a {
    color: $white;
    text-decoration: none;
}

a:active {
    color: $white;
}

a:hover {
    color: $white;
}

body {
    overflow:hidden;
    color: $white;
    margin-top: 100px;
    width: 420px;
    height:520px;
    padding: 0;
    font-family: "Roboto Condensed", Arial, sans-serif;
}

th {
    font-weight: normal;
    text-align: left;
}

tr .centered {
    text-align: center;
}
tbody{
  height: 350px;
  background-color: $dark-blue;
}
tbody tr {
    background-color: $light-blue;
    border-bottom: 2px solid $dark-blue;
    transition: 0.5s;

}
tbody tr:hover{
    background-color: $dark-blue;
}
tbody tr:hover .removeArrow {
    background-color: $dark-blue;
}
table {
    width: 100%;
}

img {
    margin-top: 3px;
}

#websiteList {
    position: fixed;
    left: 0;
    right: 0;

    font-family: "Roboto Condensed", Arial, sans-serif;
}

.logo {
    position: absolute;
    bottom: -10px;
    left: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}
.login-view{
    height: 425px;
    width: 433px;
    position: fixed;
    top:0;
    left:0;
    margin-left: 1px;
    margin-top: 1px;
}
.login-logo{
    margin-top: 10%;
    margin-left: 92px;
    margin-bottom: -13px;
}
.login-container{
    background-color: $login-grey;
    height: 200px;
    width: 250px;
    margin: 0 auto ;
    position: relative;
}
.login-btn-cont{
    position: absolute;
    bottom: 5px;
    margin-left: 30px;
}
.login-google-btn{
    width: 191px;
    height: 46px;
    background-size: 191px 46px;
    background-image: url("/assets/images/google/btn_google_signin_light_normal_web@2x.png");
}
.login-google-btn:hover{
    background-image: url("/assets/images/google/btn_google_signin_light_focus_web@2x.png");
}
.login-google-btn:active{
    background-image: url("/assets/images/google/btn_google_signin_light_pressed_web@2x.png");
}
.login-copy{
    text-align: center;
    font-size: 10px;
    margin-top: 5px;
}
.login-monster{
    position: absolute;
    height: 250px;
    width: 90px;
    bottom: 50px;
}
.settingsIcon {
    position: absolute;
    right: 25px;
    bottom: -5px;
    cursor: pointer;
}
.logoffIcon{
    position: absolute;
    right: 5px;
    bottom: -2px;
    cursor: pointer;
}
.header {
    border-top: 0;
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    color: $white;
    background-color: $red-monster;
}

.heading {
    height: 20px;
    margin-top: 120px;
    margin-top: 10px;
    color: $white;
}
.timeContainer{
    display: block;
}
.nameLabel{
    padding-bottom: 2px;
    border-collapse: collapse;
    border-bottom:1px solid #8EA6FE;
}

.nameLabel .circle {
    margin-left: 15px;
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 1em;
    background-color: #8EA6FE;
    box-shadow: 0px 0px 8px 2px rgba(142, 166, 254, .75);
}

.sortIcon{
    bottom: 0;
    position: absolute;
    width:15px;
    height: 15px;
}

.visitsLabel div{
    display: inline-block;
}
.visitsLabel{
    padding-bottom: 2px;
    border-collapse: collapse;
    border-bottom:1px solid #22d8ff;
    position: relative;
    padding-right: 5px;
}

.visitsLabel .circle {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 1em;
    background-color: #22d8ff;
    box-shadow: 0px 0px 8px 2px rgba(34, 216, 255, .75);
}


.timeLabel{
    text-align: left;
    padding-bottom: 2px;
    border-collapse: collapse;
    border-bottom:1px solid $acid-green;
}

.timeLabel .circle {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 1em;
    background-color: $acid-green;
    box-shadow: 0px 0px 8px 2px rgba(145, 255, 143, .75);
}

.siteName {
    height: 30px;
    line-height: 30px;
    padding-left: 15px;
    width:130px;
}

.inline{
    display: inline-block;
}
.removetd{
    width: 60px;
}
.total-container{
  margin-top: 5px;
  text-align: right;

}
.total-text{
  width: 50px;
  display: inline-block;
  font-weight: 300;
}
.total-visits{
  width: 70px;
  display: inline-block;
  text-align: center;
  font-weight: 300;
}
.total-time{
  width: 61px;
  display: inline-block;
  text-align: center;
  margin-right: 60px;
  font-weight: 300;
}
.binBG{
    width: 30px;
    height: 30px;
    position: relative;
    float: right;
    background-color: $red-monster;
    cursor: pointer;
}
.removeArrow{
    height: 30px;
    width: 30px;
    background-color: $light-blue;
    position: relative;
    left:30px;
    z-index:0;
    transition: 0.5s;
}
.arrow{
    border-left: 1px solid $dark-blue;
    padding-left: 5px;
    height: 30px;
    width: 10px;
    position: relative;
    float: right;
    line-height: 30px;
    font-weight: bold;
}
.arrow:hover{
    background-color: $light-blue;
    cursor: pointer;
}
.active{
    left:0;
}
.notActive{
     left:30px;
}

/*WEEK-START END*/
.week-menu-container{
/*    outline: 1px red solid;  */
    position: absolute;
    width: 280px;
    left: 20px;
    top: 360px;
    padding-left: 60px;
    padding-right: 60px;
}
.days-container{
     display: inline;
}
.week-menu-container p {
    margin-bottom: 5px;
    text-align: center;
}
.day-of-the-week{
    height: inherit;
    display: inline-block;
    cursor: pointer;
}
.day-circle{
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 50%;
	  width: 30px;
    height: 30px;
    border: 1px white solid;
    text-align: center;
    line-height: 30px;
    background-color: $light-blue;
}
.day-name{
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

.day-circle:hover{
    border: 1px $red-monster solid;
    box-shadow: 0px 0px 8px 2px rgba(222, 63, 83, .75);
}
.day-circle-today{
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px white solid;
  text-align: center;
  line-height: 30px;
  background-color: $light-blue;
    border: 1px $acid-green solid;
    box-shadow: 0px 0px 8px 2px rgba(145, 255, 143, .75);
}
.other-day-active{
    border: 1px $red-monster solid;
    box-shadow: 0px 0px 8px 2px rgba(222, 63, 83, .75);
}
/*WEEK-MENU END*/

.blacklist-container{
  margin-top: 10px;
  background-color: $white;
  height: 100px;
  color: $black;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px;
}
.blacklist-item{
  position: relative;
  background-color: $dark-grey;
  padding-left: 10px;
  padding-right: 25px;
  margin: 5px;
  width: max-content;
  display: inline-block;
  border-radius: 10px;
  height: 21px;
}
.blacklist-item-text{
  vertical-align: sub;
  display: inline-block;
}
.blacklist-remove{
  position: absolute;
  right: 5px;
  top: 0;
}
.blacklist-remove:hover{
  cursor: pointer;
}
.blk-input{
  height: 20px;
  font-size: 15px;
  padding: 5px;
}
.error{
  color: $red-monster;
  margin-top: 5px;
}
