<div class="week-menu-container" >
    <p>{{see_other_days}}</p>
    <div class="week-wrap">
      <div class="days-container" ng-repeat="day in days track by $index">
          <div class="day-of-the-week"  ng-click="dayClick($index)" >
              <div ng-class="{activeDay: $index == dayBtn, dayCircle : day.number != today.number, dayCircleToday: day.number == today.number}" name="{{$index}}">{{day.number}}</div>
              <div class="day-name">{{day.name}}</div>
          </div>
      </div>
    </div>
</div>
