<!DOCTYPE html>
<html ng-app="internetJunkie">
<head>
<link rel="stylesheet" href="/styles/popup.css">
</head>
<body ng-controller="MainController">
<div class="header">
    <img class="logo" width="100" height="50"src="/images/InternetJankie.png"/>
</div>
<p id="heading">List of the Websites you may be addicted to:</p>
<div id="websiteList">
    <table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Visits</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="website in websites | orderBy:sortOrder">
            <td>{{website.websiteName}}</td>
            <td>{{website.websiteVisits}}</td>
            <td>{{website.formatedTime.sec}}</td>
        </tr>
    </tbody>
</table>
</div>

<div class="footer"><p>Copyright 2017 © All Rights Reserved.</p></div>
<script type="text/javascript" src="/scripts/angular-1.5.8.min.js"></script>
<script type="text/javascript" src="/scripts/popup.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>
</body>
</html>