<div class="settings-view" ng-controller="SettingsController" >
    <h2>{{settings_title}}</h2>
    <p>{{settings_del}}</p>
    <button ng-click="openModal()" class="btn">{{settings_btn_clear}}</button>
    <br>
    <br>
    <form name="blacklistForm" novalidate>
      <label for="website">{{settings_add_blacklist}}</label>
      <br>
      <br>
      <input type="text" class="blk-input" existcheck name="website"  ng-minlength="3" ng-model="website" required/>
      <button ng-click="addToBlackList()" type="submit" class="btn" style="margin-left: 10px;">{{settings_btn_blacklist}}</button>
      <div ng-messages="blacklistForm.website.$error" class="error" ng-show="blacklistForm.website.$dirty && blacklistForm.website.$touched">
        <div ng-message="minlength">{{settings_error_minlength}}</div>
        <div ng-message="required">{{settings_error_required}}</div>
        <div ng-message="invalidEntry">{{settings_error_blacklist_exist}}</div>
      </div>
    </form>
    <div class="blacklist-container">
      <div class="blacklist-item" ng-repeat="item in blackList">
        <div class="blacklist-item-text">
          {{item}}
        </div>
        <div class="blacklist-remove">
          <img class="closeIcon" removeblk width="15" height="15" title="remove" src="/assets/images/icons/close-red.svg" />
        </div>
      </div>
    </div>
    <br>
    <button type="button" name="button" class="btn" ng-click="goback()"> <strong><</strong> {{settings_btn_goback}}</button>
    <div class="overlay" ng-show="modalActive">
      <div class="modal">
        <div class="modal-header">
          <h2>{{modal_title}}</h2>
          <button type="button" ng-click="closeModal()">
            <img class="closeIcon" width="20" height="20" title="close" src="/assets/images/icons/close-white.svg" />
          </button>
        </div>
        <div class="modal-content">
          <p>{{modal_body}}</p>
        </div>
        <div class="button-container">
          <button type="button" name="button" ng-click="clearTodayStatisics()">{{modal_delete_btn}}</button>
          <button type="button" name="button" class="passive" ng-click="closeModal()">{{modal_cancel_btn}}</button>
        </div>
      </div>
    </div>
</div>
