<!DOCTYPE html>
<html ng-app="internetJunkie">

    <head>
       <title>Settings</title>
    </head>

    <body ng-controller="OptionsController" ng-cloak>
        <h1>Future options page!</h1>
        <p>Delete all websites: </p>
        <button ng-click="clearAll()">Clear all</button>
        
        <h2>Black List</h2>
        <p>If website contains this part of text. It will be excluded.</p>
        <p>{{blackList}}</p>
        <button ng-click="addToBlackList()">Add to BlackList</button>
        
    </body>
    <script type="text/javascript" src="assets/libs/angular-1.5.8.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="Shared/tracking.js"></script>
    <script type="text/javascript" src="Options/optionsController.js"></script>
</html>
